<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title><%= pageTitle %></title>
  </head>
  <body>
    <%- include('./partials/genre',{genres}) %>
    <main>
      <%- include('./partials/title') %> <% if(books.length>0){ %>
      <div class="all-books-container">
        <% books.forEach(book => { %> <%- include('./book',{book}) %> <% }); %>
      </div>
      <% }else{ %>
      <p>Sorry, No books found.</p>
      <% } %>
    </main>
  </body>
</html>
